<style>
  .message-content {}
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Uma troca de senha foi solicitada para sua conta</p>
  <p>Se foi você, clique no link abaixo para resetar a senha:</p>
  <p>
    <a href="{{link}}">Resetar Senha</a>
  </p>
  <p>Se não, descarte esse e-mail</p>
  <p>Obrigado,<br><strong>Equipe DevMonster!</strong></p>
</div>